
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.eot');
    src: url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.ttf') format('truetype'),
         url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.svg#FontName') format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.eot');
    src: url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.ttf') format('truetype'),
         url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.svg#FontName') format('svg');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-DemiIt/AvenirNextLTPro-DemiIt.eot');
    src: url('../fonts/AvenirNextLTPro-DemiIt/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-DemiIt/AvenirNextLTPro-DemiIt.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-DemiIt/AvenirNextLTPro-DemiIt.ttf') format('truetype'),
         url('../fonts/AvenirNextLTPro-DemiIt/AvenirNextLTPro-DemiIt.svg#FontName') format('svg');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.eot');
    src: url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.ttf') format('truetype'),
         url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.svg#FontName') format('svg');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.ttf') format('truetype'),
         url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.svg#FontName') format('svg');
    font-style:normal ;
    font-weight: 400;
}
@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Garamond/Garamond.eot');
    src: url('../fonts/Garamond/Garamond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Garamond/Garamond.woff') format('woff'),
         url('../fonts/Garamond/Garamond.ttf') format('truetype'),
         url('../fonts/Garamond/Garamond.svg#FontName') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Garamond-Bold/Garamond-Bold.eot');
    src: url('../fonts/Garamond-Bold/Garamond-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Garamond-Bold/Garamond-Bold.woff') format('woff'),
         url('../fonts/Garamond-Bold/Garamond-Bold.ttf') format('truetype'),
         url('../fonts/Garamond-Bold/Garamond-Bold.svg#FontName') format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail/Yellowtail.eot');
    src: url('../fonts/Yellowtail/Yellowtail.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Yellowtail/Yellowtail.woff') format('woff'),
         url('../fonts/Yellowtail/Yellowtail.ttf') format('truetype'),
         url('../fonts/Yellowtail/Yellowtail.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
